# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets
.env
.env.local
.env.*.local

# Project 2 specific assets & temporary data
Project2/Full_Stack_P2.pdf
Project2/extracted_pages/
Project2/pdf_text.txt
Project2/data/test-db*.json

# OS files
.DS_Store
Thumbs.db
